.output {
  margin-top: 2rem;
  background-color: lightgoldenrodyellow;

  &__title {
    text-transform: capitalize;
    text-align: center;
    border-bottom: grey solid 1px;
    padding-bottom: .6rem;
  }

  &__item {
    text-transform: capitalize;
  }

  &__text {
    color: tomato;
  }
}
