<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button class="link" mat-button routerLink="/get" routerLinkActive="active">get firmware</button>
    <button class="link" mat-button routerLink="/create" routerLinkActive="active">create firmware</button>
    <button class="link" mat-button routerLink="/update" routerLinkActive="active">update firmware</button>
    <button class="link" mat-button routerLink="/delete" routerLinkActive="active">delete firmware</button>
  </mat-toolbar-row>
</mat-toolbar>
